body{
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-image: url('images/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover
}
h1{
    color: #04AA6D;
}
h4{
    color: red;
}
.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}
/* input[type=text]{

display: inline;

} */
table, th, td {
    border: 1px solid black;
}
/* input[type=submit] {
    background-color: #04AA6D;
    display:inline;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 10px 1px;
    cursor: pointer;
} */
.gfg {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.gfg {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  .gfg:hover {
    background-color: #4CAF50;
    color: white;
  }
  

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    /* margin-top: 20px; */
    height: 200px;
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    width: 70%;
}
